
.zoom {
  cursor: zoom-in;
}
body {
  height: 100vh;
  width: 100%;
  padding: 0px 10px;

  line-height: 1;
  background: #000717;
  font-size: 1rem;
  color: #888888;
  font-weight: 500;
  font-family: sans-serif;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

button {
  text-align: center;
  color: #000064;
  background-color: #aaaaaa;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: #cccccc;
  }
  &:active {
    transform: scale(1.1);
  }
}

header {
  display: flex;
  align-items: center;
  padding: 0px 16px;
}
.header__back-link {
  text-decoration: none;
  margin-right: 20px;
  display: block;
  color: rgba(190, 190, 190, 0.8);
  font-weight: 500;
  font-size: 0.8rem;
  &::before {
    content: "<<--";
    top: 0px;
    left: 0px;
  }
  &:hover {
    color: rgb(201, 201, 201);
    transform: scale(1.1);
    transition: 0.3s;
  }
}
.header__title {
  margin: 10px auto;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.init-controls-graph {
  flex: 1;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 1%;
}

.init-controls {
  flex: 0 1 auto;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 8px;
}
.init__form {
  display: flex;
  flex-direction: column;
}
.init__title {
  padding: 10px 8px;
  text-align: center;
  line-height: 25px;
}
.data {
  display: flex;
  justify-content: space-around;
  &__title {
    padding: 5px 0px;
  }
  & input {
    width: 60px;
    background-color: #000717;
    border-radius: 3px;
    color: #e7e7e7;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: left;
    transition: 0.3s;
    font-size: 0.8rem;
    &:focus {
      background-color: #2a4375;
    }

  }

  & .string {
    display: flex;
    align-items: flex-end;
    padding: 5px 0px;
  }

  &__text {
    // color: red;
    padding-right: 5px;
    width: 18px;
  }

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
 margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  &__number {
    text-align: center;
  }
  padding: 0px 5px;
}
.body__name {
  & .data__title {
    margin-right: 5px;
  }
  & input {
    text-align: left;
  }
}

.name input {
  min-width: 70px;
}
.data__element {
  border: 1px solid #888888;
  border: none;
}
.description {
  line-height: 1.2;
  font-size: 0.8rem;
}
.controls {
  margin: 8px;
  padding: 10px 8px;
  display: inline-flex;
  justify-content: center;
  // border: 1px solid grey;

  & button {
    margin: 0px 5px;
  }
}
.time-scale-in-days {
  margin-top: 20px;
  border: 1px solid #888888;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  & datalist {
    display: flex;
    justify-content: space-between;
  }
  &__output {
    margin: 0;
  }
}

option {
  padding: 0;
  // color: white;
}
.description {
  padding: 15px 0px;
  min-height: 140px;
}
.graph {
  flex: 1 0 60%;
  // width: 100%;
  border: 1px solid grey;
  display: flex;
}
canvas {
  border: 2px solid red;
  margin: auto auto;
}
.current {
  // flex: 2;
  // min-height: 180px;
  border: 1px solid green;
  margin-top: 10px;
  padding: 20px;
  letter-spacing: 1px;
  color: #555555;
  > div:not(:last-child) {
    margin-bottom: 10px;
  }
}
footer {
  padding: 8px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
